<div class="converter-ui-container">
  <form [formGroup]="parentForm" (ngSubmit)="onSubmit()">
    <pre>{{ parentForm.value | json }}</pre>
    <mat-grid-list cols="3" rowHeight="2:1">
      <mat-grid-tile>
        <app-category [parentForm]="parentForm"></app-category>
      </mat-grid-tile>

      <mat-grid-tile>2</mat-grid-tile>

      <mat-grid-tile><app-converter [parentForm]="parentForm"></app-converter></mat-grid-tile>

      <mat-grid-tile>4</mat-grid-tile>

      <mat-grid-tile>5</mat-grid-tile>

      <mat-grid-tile>6</mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
