<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Unit Converter</mat-card-title>
      <mat-card-subtitle>Version 1.0</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        This Converter app was a course work in Web Frameworks LAB fall 2023.
        App is build using Angular and typescript using VS Code.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a routerLink="/" class="toolbar-icon">
        <button
        mat-fab
        color="primary"
        aria-label="Example icon button with a home icon"
      >
        <mat-icon>home</mat-icon>
      </button>
      </a>

    </mat-card-actions>
  </mat-card>
</div>

